body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    margin-left:1em;
    margin-bottom:1em;
}

footer {
    padding:0.5em 0em;
    background-color:rgb(167, 226, 135);
    margin-top: auto;
}

a {
    text-decoration:none;
    color:rgb(34, 162, 34);
}

tr:nth-child(even) {
    background-color: lightgray;
}

/* -----------Classes------------ */

.nav-style {
    border: 2px black;
    border-style: none none solid none;
    padding: 1em 0em;
    background-color: rgb(219 88 24);
}

.nav-link-style {
    margin-left:0.6em;
    color: white;
    font-weight:bold;
}

.fitpicture {
    width: 250px;
}

.img-text {
    margin:0 auto;
}

.title-text-color {
    color:darkgreen
}

.flex {
    display:flex;
}

.wrap {
    flex-wrap:wrap;
    justify-content:left;
    row-gap:1.25em;
    column-gap:2.5em;
}

.grid {
    display:grid;
}

.grid-recipes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    justify-items:left;
}

.footer-text {
    margin-left:20px;
}
